*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}

nav{
    padding: 12px 2%;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navright img{
    width: 25px;
    margin-right: 25px;
}
.navright .user-icon{
    width: 36px;
    border-radius: 50px;
    margin-right: 0;
}
.navleft .menu-icon{
     width: 25px;
     margin-right: 25px;
}
.navleft .logo{
    width: 125px;
}
.navmiddle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px; 
    padding: 8px 12px;
    border-radius: 25px;
}
.navmiddle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.navmiddle .search-box img{
    width: 15px;
}
.navmiddle .mic-icon{
    width: 15px;
}

/* ------------sidebar0-------- */
.sidebar{
     background: #fff;
     width: 15%;
     height: 100vh;
     position: fixed;
     top: 0;
     padding-left: 2%;
     padding-top: 80px;

}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a:first-child{
    color: red;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 12px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

/* -----------main------------ */

.container{
    background: #f9f9f9;
    padding-left: 16%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 6%;
}

.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 10px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 15px;
    row-gap: 30px;
    margin-top: 15px;
}
.video-list .thumbnail{
    width: 100%;
    border-radius: 5%;
}
.video-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}

.video-list .flex-div img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.vid-info{
    color: #5a5a5a;
    font-size: 14px;

}
.vid-info a{
    color: black;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}


@media (max-width: 900px){
    .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .container, .large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .navright img{
        display: none;
    }
    .navright .user-icon{
        display: block;
        width: 30px;
    }
    .navmiddle .search-box input{
        width: 100px;
    }
    .navmiddle .mic-icon{
        display: none;
    }
}


/* -----------Play Video page -------- */

.play-container{
    padding-left: 2%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
    border-radius: 5px;
}
.suggest-video{
   display: flex;
   justify-content: space-between;
   margin-bottom: 8px;
}
.suggest-video img{
    width:60%;
    margin-right: 1.5%;
    border-radius: 5px;
}

.suggest-video .small-thumbnail{
   flex-basis: 47%;
}
.suggest-video .vid-info{
    flex-basis: 47%;
}